@{
    ViewData["Title"] = "Visualisation";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div style="background-color:dimgray">
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fqson/embed/charts?id=66e2e1dc-26cf-4040-b383-39cb20f49d3d&tenant=9b0be229-7beb-4375-a47b-c55cd96cbaad"></iframe>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fqson/embed/charts?id=15445e41-d574-4f05-8c7b-2b1edf3687bd&tenant=9b0be229-7beb-4375-a47b-c55cd96cbaad"></iframe>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fqson/embed/charts?id=c3bf9e90-955f-4249-9fc0-1a804a894bda&tenant=9b0be229-7beb-4375-a47b-c55cd96cbaad"></iframe>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fqson/embed/charts?id=82e9aeb4-16f3-4513-a499-da7f49191d7d&tenant=9b0be229-7beb-4375-a47b-c55cd96cbaad"></iframe>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fqson/embed/charts?id=4468a17e-53ca-478f-8efd-6735362b6558&tenant=9b0be229-7beb-4375-a47b-c55cd96cbaad"></iframe>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fqson/embed/charts?id=7c9bf085-771a-42f1-adac-85707bff1613&tenant=9b0be229-7beb-4375-a47b-c55cd96cbaad"></iframe>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fqson/embed/charts?id=2418c402-f49e-4d07-aebc-6460b6145270&tenant=9b0be229-7beb-4375-a47b-c55cd96cbaad"></iframe>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fqson/embed/charts?id=d2bb3a6e-696c-45e9-b618-f290a83a1f31&tenant=9b0be229-7beb-4375-a47b-c55cd96cbaad"></iframe>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-fqson/embed/charts?id=d282d360-219e-463e-a8d4-62af1f2d7f36&tenant=9b0be229-7beb-4375-a47b-c55cd96cbaad"></iframe>
</div>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
